@import 'remove-default-shit-from-motherfucking-modena.css';

$main-color: #0C9;
$background: #222;

* {
    -fx-base: $background;
    -fx-base-fill: darken($main-color, 10%);
    -fx-text-fill: $main-color;
    -fx-prompt-text-fill: desaturate(darken($main-color, 15%), 5%);
    -fx-control-inner-background: $background;
}

.text-field {
    -fx-padding: 0;
}

.button {
    cursor: pointer;
}

.title {
    -fx-font-weight: 900;
    -fx-font-size: 20px;
}
 
.invalid {
    -fx-effect: innershadow(one-pass-box, #A00, 1, 25, 0, 0);
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: black;
    -fx-font-weight: bold;
}

.list-cell:even {
    -fx-background-color: $background;
}

.list-cell:odd {
    -fx-background-color: darken($background, 5%);
}

.list-cell:filled:hover, .menu-item:focused {
    -fx-background-color: lighten($background, 5%);
    -fx-text-fill: $main-color;
}

.menu-item:hover .label {
    -fx-text-fill: lighten($main-color, 15%);
    -fx-font-weight: bold;
}

.font-awesome {
    -fx-font-family: 'Font Awesome 5 Pro Light';
}