@import 'fonts';

$main-color: #0C9;
$background: #222;

* {
    -fx-base: $background;
    -fx-base-fill: darken($main-color, 10%);
    -fx-text-fill: $main-color;
    -fx-font-family: 'Open Sans';
    -fx-prompt-text-fill: desaturate(darken($main-color, 15%), 5%);
}

.text-field {
    -fx-font-family: 'Montserrat';
    -fx-padding: 0;
}

.button {
    cursor: pointer;
}

.title {
    -fx-font-family: 'Luckiest Guy';
    -fx-font-weight: 900;
    -fx-font-size: 20px;
}

.invalid {
    //-fx-border: 1px;
    //-fx-border-color: #900;
    //-fx-border-style: solid;
    -fx-effect: innershadow(one-pass-box, #A00, 1, 25, 0, 0);
}